<% if can? :manage, User %>
  <h1>Users</h1>
  <%= link_to 'New User', new_user_path %>
  <br/>
  <div class="card card-body bg-light">
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold">Search</label>
            <%= f.text_field(
              :search_query,
              class: 'filterrific-periodically-observed'
            ) %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold">Sorted by</label>
            <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],
                {},
                { class: 'form-control' }
            ) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render 'list', users: @users %>