<div id="filterrific_results">
  <div class="card card-body bg-light d-block p-3 my-3">
    <div class="row">
      <div class="col-md-10">
        <%= page_entries_info schools %>
      </div>
      <div class="col-md-2">
        <%= link_to "Reset filters", reset_filterrific_url, class: 'btn btn-secondary align-middle' %>
      </div>
    </div>
    <%= render_filterrific_spinner %>
  </div>
  <% unless schools.empty? %>
    <table class="schools table table-hover table-sm table-responsive">
      <thead class="thead-light">
        <tr>
          <th scope="col"><%= filterrific_sorting_link(@filterrific, :name) %></th>
          <th scope="col"><%= filterrific_sorting_link(@filterrific, :short_name) %></th>
          <th scope="col">
            <%= filterrific_sorting_link(@filterrific, :avg_rating) %>
            <i title="1 - bad, 10 - great, relevant to each individual students' experience" class="fal fa-question-circle"></i>
          </th>
          <th scope="col">
            <%= filterrific_sorting_link(@filterrific, :avg_difficulty) %>
            <i title="1 - easy, 10 - difficult, based on individual students' perceptions" class="fal fa-question-circle"></i>
          </th>
          <th scope="col">
            <%= filterrific_sorting_link(@filterrific, :avg_work) %>
            <i title="in hours/week" class="fal fa-question-circle"></i>
          </th>
          <th scope="col"><%= filterrific_sorting_link(@filterrific, :avg_grade) %></th>
          <th scope="col" colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% schools.each do |school| %>
          <tr id=<%= "school_row_#{school.id}" %>>
            <td><%= link_to school.name, school %></td>
            <td><%= school.short_name %></td>
            <td><%= school.avg_rating ? school.avg_rating.round(1) : "" %></td>
            <td><%= school.avg_difficulty ? school.avg_difficulty.round(1) : ""  %></td>
            <td><%= school.avg_work ? school.avg_work.round(1) : "" %></td>
            <td><%= school.avg_grade ? school.avg_grade.round(1) : "" %></td>
            <% if can? :manage, School %>
              <td><%= link_to 'Edit', edit_school_path(school) %></td>
              <td><%= link_to 'Delete', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate schools %>
  <% end %>
</div>
