<h1>Schools</h1>

<table class="table table-hover table-sm table-responsive">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Short name</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to school.name, school %></td>
        <td><%= school.short_name %></td>
        <% if can? :manage, School %>
          <td><%= link_to 'Edit', edit_school_path(school) %></td>
          <td><%= link_to 'Delete', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, School %>
  <%= link_to 'New School', new_school_path %>
<% end %>
