<div id="filterrific_results">
  <div class="card card-body bg-light d-block p-3 my-3">
    <div class="row">
      <div class="col-md-10">
        <%= page_entries_info courses %>
      </div>
      <div class="col-md-2">
        <%= link_to "Reset filters", reset_filterrific_url, class: 'btn btn-secondary align-middle' %>
      </div>
    </div>
    <%= render_filterrific_spinner %>
  </div>
  <% unless courses.empty? %>
    <table class="courses table table-hover table-sm table-responsive">
      <thead class="thead-light">
        <tr>
          <th scope="col"><%= filterrific_sorting_link(filterrific, :course) %></th>
          <th scope="col"><%= filterrific_sorting_link(filterrific, :number) %></th>
          <th scope="col"><%= filterrific_sorting_link(filterrific, :department) %></th>
          <th scope="col"><%= filterrific_sorting_link(filterrific, :school) %></th>
          <th scope="col">
            <%= filterrific_sorting_link(filterrific, :avg_rating) %>
            <small><i title="1 - bad, 10 - great, based on individual students' experience" class="fal fa-question-circle"></i></small>
          </th>
          <th scope="col">
            <%= filterrific_sorting_link(filterrific, :avg_difficulty) %>
            <small><i title="1 - easy, 10 - difficult, based on individual students' perceptions" class="fal fa-question-circle"></i></small>
          </th>
          <th scope="col">
            <%= filterrific_sorting_link(filterrific, :avg_work) %>
            <small><i title="in hours/week" class="fal fa-question-circle"></i></small>
          </th>
          <th scope="col"><%= filterrific_sorting_link(filterrific, :avg_grade) %></th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% courses.each do |course| %>
          <tr id=<%= "course_row_#{course.id}" %>>
            <td><%= link_to course.name, school_department_course_path(id: course.id, department_id: course.department.id, school_id: course.department.school.id) %></td>
            <td><%= course.number %></td>
            <td><%= link_to course.department.name, school_department_path(id: course.department.id, school_id: course.department.school.id) %></td>
            <td><%= link_to course.department.school.name, school_path(id: course.department.school) %></td>
            <td><%= course.avg_rating ? course.avg_rating.round(1) : "" %></td>
            <td><%= course.avg_difficulty ? course.avg_difficulty.round(1) : ""  %></td>
            <td><%= course.avg_work ? course.avg_work.round(1) : "" %></td>
            <td><%= course.avg_grade ? course.avg_grade.round(1) : "" %></td>
            <% if can? :edit, course %>
              <td><%= link_to 'Edit', edit_school_department_course_path(id: course.id, school_id: course.department.school.id, department_id: course.department.id) %></td>
              <td><%= link_to 'Delete', school_department_course_path(id: course.id, school_id: course.department.school.id, department_id: course.department.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate courses %>
  <% end %>
</div>
