<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<p>
  <strong><%= link_to 'Reviews', school_course_reviews_path(school_id: @school, course_id: @course) %></strong>
</p>


<!-- <p>
<%= render 'reviews/review_index', reviews: @course.reviews %>
</p> -->
<%= link_to 'Edit', edit_school_course_path(@course) %> |
<%= link_to 'Back', school_courses_path %>
