<h2>
    <%= @course.name %> at <%= link_to @course.department.school.name, @course.department.school %>
</h2> <% if can? :edit, @course %>
  <%= link_to 'Edit', edit_school_department_course_path(school_id: @school.id, course_id: @course.id) %>
<% end %>
<p>
  <strong>Number:</strong>
  <%= @course.full_number %>
</p>

<p>
  <strong>Department:</strong>
  <%= link_to @department.name, school_department_path(school_id: @school.id, id: @department.id) %>
</p>

<p>
  <h4>Reviews</h4>
  <% if can? :create, Review %>
    <%= link_to 'New Review', new_school_department_course_review_path(school_id: @school.id, department_id: @department.id, course_id: @course.id) %>
  <% end %>
  <br/>
  <div class="card card-body bg-light">
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold">Search</label>
            <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            <%= f.text_field(
              :search_query,
              class: 'filterrific-periodically-observed'
            ) %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold">Sorted by</label>
            <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],
                {},
                { class: 'form-control' }
            ) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold">Rated higher than</label>
            <%= f.number_field(:with_rating_gte) %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold">Difficulty lower than</label>
            <%= f.number_field(:with_difficulty_lte) %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold">Work required lower than</label>
            <%= f.number_field(:with_work_required_lte) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'reviews/list', reviews: @reviews %>
</p>
