<h2>
    <%= @course.name %> at <%= link_to @course.school.name, @course.school %>
</h2> <% if can? :edit, @course %>
<%= link_to 'Edit', edit_school_course_path(school_id: @school.id, course_id: @course.id) %>
<% end %>
<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<p>
  <h4>Reviews</h4>
  <% if can? :create, Review %>
    <%= link_to 'New Review', new_school_course_review_path(school_id: @school.id, course_id: @course.id) %>
  <% end %>
  <br/>
  <%= render 'reviews/review_index', reviews: @reviews %>
</p>
