<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p> <% if can? :edit, @course %>
<%= link_to 'Edit', edit_school_course_path(@course) %>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<p>
  <h3>Reviews</h3>
  <strong><%= link_to 'Reviews', school_course_reviews_path(school_id: @school, course_id: @course) %></strong>
</p>
