<% if reviews.load.empty? %>
No reviews at this time!
<% else %>
  <table id="reviews_index" class="table table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">School</th>
        <th scope="col">Course</th>
        <th scope="col">User</th>
        <th scope="col">Notes</th>
        <th scope="col" class="short_column">Work Required</th>
        <th scope="col" class="short_column">Difficulty</th>
        <th scope="col" class="short_column">Rating</th>
        <th scope="col" class="short_column">Experience with Topic</th>
        <th scope="col" class="short_column">Year</th>
        <th scope="col" class="short_column">Term</th>
        <th scope="col" class="short_column">Grade</th>
        <th scope="col" class="short_column">Edit</th>
        <th scope="col" class="short_column">Delete</th>
      </tr>
    </thead>

    <tbody>
      <% reviews.each do |review| %>
        <tr>
          <td scope="row"><%= link_to review.course.school.name, school_path(id: review.course.school.id) %></td>
          <td><%= link_to review.course.full_number, school_course_path(school_id: review.course.school.id, id: review.course.id) %></td>
          <td class="review-truncate"><div><%= review.user.sha_email %></div></td>
          <td class="review-truncate"><div><%= link_to 'Full Notes', school_course_review_path(school_id: review.course.school.id, course_id: review.course_id, id: review.id) %><%= ": " + review.notes %></div></td>
          <td class="short_column"><%= review.work_required %></td>
          <td class="short_column"><%= review.difficulty %></td>
          <td class="short_column"><%= review.rating %></td>
          <td class="short_column"><%= review.experience_with_topic %></td>
          <td class="short_column"><%= review.year %></td>
          <td class="short_column"><%= review.term %></td>
          <td><%= review.display_grade %></td>
          <% if can? :edit, review %>
            <td><%= link_to 'Edit', edit_school_course_review_path(school_id: review.course.school.id, course_id: review.course_id, id: review.id) %></td>
            <td><%= link_to 'Delete', school_course_review_path(id: review.id, course_id: review.course.id, school_id: review.course.school.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <th>School</th>
        <th>Course</th>
        <th>User</th>
        <th>Notes</th>
        <th>Work Required</th>
        <th>Difficulty</th>
        <th>Rating</th>
        <th>Experience with Topic</th>
        <th>Year</th>
        <th>Term</th>
        <th>Grade</th>
      </tr>
    </tfoot>
  </table>
<% end %>