<% if reviews.empty? %>
No reviews at this time!
<% else %>
  <table class="table table-hover table-sm table-responsive">
    <thead class="thead-light">
      <tr>
        <th scope="col">Course</th>
        <th scope="col">User</th>
        <th scope="col">Notes</th>
        <th scope="col">Work Required</th>
        <th scope="col">Difficulty</th>
        <th scope="col">Rating</th>
        <th scope="col">Experience with Topic</th>
        <th scope="col">Year</th>
        <th scope="col">Term</th>
        <th scope="col">Grade</th>
        <th scope="col" colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% reviews.each do |review| %>
        <tr>
          <td scope="row"><%= link_to review.course.full_number, school_course_path(school_id: review.school.id, id: review.course.id) %></td>
          <td><%= review.user.sha_email.truncate(10, omission: '...') %></td>
          <td><%= link_to 'Notes', school_course_review_path(school_id: review.school.id, course_id: review.course_id, id: review.id) %></td>
          <td><%= review.work_required %></td>
          <td><%= review.difficulty %></td>
          <td><%= review.rating %></td>
          <td><%= review.experience_with_topic %></td>
          <td><%= review.year %></td>
          <td><%= review.term %></td>
          <td><%= review.display_grade %></td>
          <% if can? :edit, review %>
            <td><%= link_to 'Edit', edit_school_course_review_path(school_id: review.school.id, course_id: review.course_id, id: review.id) %></td>
            <td><%= link_to 'Destroy', school_course_review_path(id: review.id, course_id: review.course.id, school_id: review.school.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>