<p>
  <strong>Course:</strong>
  <%= link_to @review.course.full_number, school_department_course_path(school_id: @school.id, department_id: @department.id, id: @course.id) %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @review.teacher %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user.uuid %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @review.notes %>
</p>

<p>
  <strong>Work Required:</strong>
  <%= @review.work_required %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @review.difficulty %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Experience with Topic:</strong>
  <%= @review.experience_with_topic %>
</p>

<p>
  <strong>Year:</strong>
  <%= @review.year %>
</p>

<p>
  <strong>Term:</strong>
  <%= @review.term %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @review.display_grade %>
</p>

<% if can? :update, Course %>
  <%= link_to 'Edit', edit_school_department_course_review_path(school_id: @school.id, department_id: @department.id, course_id: @course.id, id: @review) %>
<% end %>
