<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to('Reviews', school_department_course_reviews_path(school_id: 'all', department_id: 'all', course_id: 'all'), class: 'nav-link') %>
    </li>
    <li class="nav-item">
      <%= link_to('Courses', school_department_courses_path(school_id: 'all', department_id: 'all'), class: 'nav-link') %>
    </li>
    <li class="nav-item">
      <%= link_to('Departments', school_departments_path(school_id: 'all'), class: 'nav-link') %>
    </li>
    <li class="nav-item">
      <%= link_to('Schools', schools_path, class: 'nav-link') %>
    </li>
    <% if current_user && current_user.admin? %>
      <li class="nav-item">
        <%= link_to('Users', users_path, class: 'nav-link') %>
      </li>
    <% end %>
    <% if current_user %>
      <li class="nav-item">
        <%= link_to 'Update Password', edit_user_registration_path(current_user), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to('Sign out', destroy_user_session_path, method: 'delete', class: 'nav-link destructive') %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to('Sign in', new_user_session_path, class: 'nav-link') %>
      </li>
      <li class="nav-item">
        <%= link_to('Sign up', new_user_registration_path, class: 'nav-link') %>
      </li>
    <% end %>
    <!-- Add in a github star helper but i need to right justify it -->
<!--     <iframe src="https://ghbtns.com/github-btn.html?user=jmkoni&repo=course_review&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe> -->
  </ul>
</div>